<mat-card class="video-card">
    <mat-card-header>
        <mat-card-title>{{video.snippet.title}}</mat-card-title>
        <mat-card-subtitle>{{video.snippet.channelTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <a [routerLink]="video.id.videoId">
            <!-- TODO: изменить роут и роутинг routerParams -->
            text
        </a>
        <img src={{video.snippet.thumbnails.medium.url}}>
            <p>{{video.snippet.description}}</p>
    </mat-card-content>
    <mat-card-footer>
        <p>{{video.snippet.publishedAt | date}}</p>
    </mat-card-footer>
</mat-card>
